# Java / Maven
target/
*.class
*.jar
*.exe

# Entorno y secretos — NUNCA subir keys reales
.env
Datos_SenatiZapato/
senati_zapato.db
comprobantes/

# IDEs
.idea/
.vscode/
*.iml
.settings/
.classpath
.project
nbproject/
